<form method="post" class="af-form-wrapper optin__form" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
                    <div style="display: none;">
                        <input type="hidden" name="meta_web_form_id" value="1575689959" />
                        <input type="hidden" name="meta_split_id" value="" />
                        <input type="hidden" name="listname" value="awlist6224831" />
                        <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou.htm?m=default" id="redirect_138df9ef6ab632f748e753f8974c4870" />
                        <input type="hidden" name="meta_adtracking" value="LEAD_MAGNET:_Three_Truths_Coach's_Guide" />
                        <input type="hidden" name="meta_message" value="1" />
                        <input type="hidden" name="meta_required" value="name,email" />
                        <input type="hidden" name="meta_tooltip" value="" />
                    </div>
                    <div id="af-form-1575689959" class="af-form">
                        <div id="af-body-1575689959" class="af-body af-standards">
                            <div class="af-element">
                                <label class="previewLabel" for="awf_field-114076160">Full Name: </label>
                                <div class="af-textWrap">
                                    <input id="awf_field-114076160" type="text" name="name" class="text optin__input" value="" placeholder="First name"  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />
                                </div>
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element">
                                <label class="previewLabel" for="awf_field-114076161">Email Address:</label>
                                <div class="af-textWrap">
                                    <input class="text optin__input" id="awf_field-114076161" type="text" name="email" value="" placeholder="Email address" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
                                </div>
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element buttonContainer">
                                <input name="submit" class="submit optin__btn" type="submit" value="Get my guide" tabindex="502" />
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element tag" style="display:none;">
                                <input id="awf_tag-114076163" type="hidden" name="tag_114076163" value="lead magnet: three truths guide" />
                            </div>
                        </div>
                    </div>
                    <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jKzsrGwcnJysnA==" alt="" /></div>
                </form>
                <script type="text/javascript">
                    <!--
                    (function() {
                        var IE = /*@cc_on!@*/false;
                        if (!IE) { return; }
                        if (document.compatMode && document.compatMode == 'BackCompat') {
                            if (document.getElementById("af-form-1575689959")) {
                                document.getElementById("af-form-1575689959").className = 'af-form af-quirksMode';
                            }
                            if (document.getElementById("af-body-1575689959")) {
                                document.getElementById("af-body-1575689959").className = "af-body inline af-quirksMode";
                            }
                            if (document.getElementById("af-header-1575689959")) {
                                document.getElementById("af-header-1575689959").className = "af-header af-quirksMode";
                            }
                            if (document.getElementById("af-footer-1575689959")) {
                                document.getElementById("af-footer-1575689959").className = "af-footer af-quirksMode";
                            }
                        }
                    })();
                    -->
                </script>