{# BEGIN HEADER #}
<header id="header" class="header">
    <div class="container--header">
        <div class="header__wrapper">
            <a href="/" class="header__brand">
                <img src="{{ theme.path ~ '/static/img/humblestrong-logo.svg' }}" alt="" class="header__logo">
            </a>
            <div class="header__menu">
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="nav__btn"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </div>
    </div>
</header>
{# END HEADER #}