<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">{{ post.meta('hero_heading') }}</h1>
                <p class="hero__subheading">{{ post.meta('hero_subheading') }}</p> 
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </div>
    </div>
    <div class="hero__img"></div>
</section>