{% extends 'base.twig' %}

{% block content %} 

{# BEGIN HERO SECTION #} 
<section id="hero" class="section section--hero">
    <div class="container">
        <div class="hero__left">
            <h1>Build trust and commitment by coaching through failures and conflicts to success</h1>
            <p>Stop wasting time and energy eliminating failure and avoiding conflict, just hoping more focus on winning will solve your problems.</p>
            <p>Start taking advantage of the opportunities failure and conflict offer to create clarity, trust, and confidence necessary for your success.</p>
            <a href="#" class="btn btn--primary">Book a Call</a>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN INTRO SECTION #} 
<section id="intro" class="section">
    <div class="container">
        <div class="intro__wrapper">
            <h2>Your coaching success requires failure and conflict</h2>
            <p>Sports don't build character. Sports powerfully reveal it.</p>
            <p></p>
            <a href="#" class="btn btn--primary">Book a Call</a>
        </div>
    </div>
</section>
{# END INTRO SECTION #}

{% endblock %}