{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #} 
{# <section id="hero" class="section py-18">
	<div class="container">
		<div class="section__helmet">
			<h1 class="is-centered is-white">{{ post.title }}</h1>
		</div>
	</div>
</section> #}
{# END HERO SECTION #}

{{ post.content }}

{# BEGIN CONTENT SECTION #}
{# <section id="content" class="section py-18">
	<div class="container">
		{{ post.content }}
	</div>
</section> #}
{# END CONTENT SECTION #}

{% include 'partials/cta.twig' %}

{% endblock %}