// ********************
// BUTTON
// ********************

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 29.375rem;
  min-height: 3.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px (rgba($black, 0.1)),
    0 4px 6px -4px (rgba($black, 0.1));
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }

  &--primary {
    background-color: $green;
    background-image: linear-gradient(to bottom, $green, $dark-green);
    color: $white;
    border: 1px solid $green;
  }

  &--secondary {
    background-color: $white;
    color: $green;
    border: 1px solid $white;
  }

  &:nth-of-type(2) {
    margin-left: 1.875rem;
  }
}

.nav__btn {
  @extend .btn;
  @extend .btn--primary;
  padding: 1rem 2rem;
  min-height: unset;
  margin-left: 1.25rem;
}
